#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'

Compass.add_project_configuration 'compass.rb'

preprocess do
  build_tag_pages(items)
end

compile '/assets/stylesheets/*' do
  filter :sass, Compass.sass_engine_options.merge(:syntax => item[:extension].to_sym)
end

compile '/assets/javascripts/*' do
  filter :erb
  filter :uglify_js if @config[:javascripts][:passthrough].include?(File.basename(item.identifier))
end

compile '/blog/posts/*' do
  filter :kramdown
  layout 'post'
end

compile '/range/*/' do
  filter :kramdown
  layout 'product'
end

compile '/assets/images/products/*/' do
end

compile '/assets/images/products/*/', :rep => :thumbnail do
  filter :thumbnailize, :width => 220
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    # mgutz: https://github.com/mgutz/nanoc3_blog/blob/master/Rules
    # item[:extension] returns 'html.erb' for multi-dotted filename
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last

    if ext == 'erb'
      filter :erb
    elsif ext == 'haml' || ext.nil?
      filter :haml
    elsif ext == 'md' || ext == 'markdown'
      filter :erb
      filter :kramdown
    else
      raise "Filter is not configured for #{item.identifier} in Rules file."
    end
    layout 'default'
  end
end

route '/assets/stylesheets/*' do
  filename = File.basename(item.identifier)
  '/assets/' + filename + '.css' if filename == 'app'
end

route '/assets/javascripts/*' do
  filename = File.basename(item.identifier)
  '/assets/' + filename + '.js' if @config[:javascripts][:passthrough].include?(filename)
end

route '/assets/images/products/*' do
  '/assets/products/' + File.basename(item.identifier) + '.' + item[:extension]
end

route '/assets/images/products/*', :rep => :thumbnail do
  '/assets/products/' + File.basename(item.identifier) + '-220.' + item[:extension]
end

route '/assets/*' do
  item.identifier.chop.sub(/\/images|\/fonts/, '').sub(/_+$/, '') + '.' + item[:extension]
end

route '/blog/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures

  "/blog/#{y}/#{m}/#{slug}/index.html"
end

route 'sitemap' do
  item.identifier.chop + '.xml'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :format => :html5
