---
title: About Us
---

.row
  .twelve.columns
    .cover
      %img{src: '/assets/new-for-2014.jpg'}
.row
  .twelve.columns
    %hr.zig
.row
  .about
    .nine.columns
      %h6 ABOUT US
      %p Bacon ipsum dolor sit amet dolore occaecat cupidatat meatball, bresaola strip steak sed cow brisket pork belly. T-bone irure nisi cillum landjaeger in culpa meatball anim ea frankfurter fugiat chicken dolore. Boudin pig landjaeger, meatball turducken magna hamburger pastrami nisi do biltong. Dolore kielbasa ham hock fatback in jerky proident nostrud adipisicing corned beef venison ut tenderloin.
      %p Laborum porchetta spare ribs, beef ribs chicken rump proident aute eiusmod aliquip et pig ullamco commodo bacon. Pork ball tip est, turducken in non doner aliquip ad t-bone aliqua. Shoulder t-bone salami deserunt turducken ball tip proident velit ex mollit aliqua. Tempor ham do incididunt beef ribs andouille pork loin. Meatloaf jerky est eu sunt cow.
      %p Biltong dolor consectetur chicken swine kevin cupidatat chuck turducken non ex. Aliqua culpa salami porchetta kevin. Magna sirloin veniam jowl excepteur qui, frankfurter meatloaf salami corned beef boudin short ribs do. Magna ea tri-tip biltong. Occaecat irure proident boudin jerky laborum magna t-bone consequat duis.
      .panel 
        %h6
          Want to read more about us and what we've been up to?
          %a{href: '/blog'} Click 
          to read our blog
    .three.columns
      .sidebar
        %h6 HEAR WHAT OUR CUSTOMERS SAY...
        %p "Amazing stuff, we loved our cards and all our guests did too, thanks guys!"
        %p "Amazing stuff, we loved our cards and all our guests did too, thanks guys!"