---
title: About Us
---

.row
  .twelve.columns
    .cover
      %img{src: '/assets/new-for-2014.jpg'}
.row
  .twelve.columns
    %hr.zig
.row
  .about
    .nine.columns
      %h6 ABOUT US
      %p Early in 2013, three old schoolfriends created the Vintage Invite Co. to bring our own individual brand of design to engaged couples everywhere.  Comprising an illustrator, a graphic designer and an techie, this trio has ten years of experience between them and a wealth of innovative ideas.
      %p Here at the Vintage Invite Co. we design and create vintage-inspired wedding stationery; from invitations, RSVP cards and save the dates, to orders of service and table plans, through to thank you cards to round off the best day of your life (so far).
      %p We make unique invitation suites to suit all tastes, sourcing inspiration from the mundane of everyday life, from the exceptional of outstanding art and design and from everything in between.
      %p Making the most of our love of classic design and ‘fine print’, we use only top quality techniques and materials on all of our commissions.  We particularly love letterpress and really think that it has to be held for you to truly appreciate the quality of the printing and the depth of the impression.*  We also use foil blocking, embossing, papercraft and screen-printing along with the best in digital finishes.
      %p There are two ways you can get yourself some Vintage Invite Co. wedding stationery: (a) choose from our ever-growing <a href='/range'>range</a> of off-the-peg designs; or (b) use our fully <a href='/bespoke'>bespoke service</a> for something unique and extra special. Have a look at our <a href='/order'>how to order</a> page for all the detail.
      .panel 
        %h6
          Want to read more about us and what we've been up to?
          %a{href: '/blog'} Click 
          to read our blog
    .three.columns
      .sidebar
        %h6 WHAT OUR CUSTOMERS SAY
        %p "...incredible work! We cannot thank you enough!"
        %p "over the moon!"