---
title: Bespoke Stationery
---

.row
  .twelve.columns
    .cover
      %img{src: '/assets/bespoke-cover.jpg'}
.row
  .twelve.columns
    %hr.zig
.row
  .bespoke
    .twelve.columns
      %h6 GO BESPOKE
      %p Every bespoke job we do follows a slightly different process; we follow the process that suits your job, to ensure you get the best result. With that said, the following steps will happen in some shape or form (and not necessarily in this order):
      %ul
        %li the initial request&ndash;where you <a href='/contact'>get in touch</a> with us and give us your ideas; we will come back to you within a working day of this request to let you know we're looking at your request (and to ask for any extra information we need)
        %li a face-to-face meeting&ndash;as well as telephone calls, we recommend at least one face-to-face meeting (in person if possible, or using Skype if not), so you can meet our designers and we can flesh out your ideas
        %li a moodboard&ndash;based on your ideas and our discussions, our designers will put together a collection of imagery, illustration, typefaces and coulours to inspire further discussion and cement your ideas
        %li design drafts&ndash;these will follow from the moodboard and will evolve through discussions until we reach a final design
        %li proofs&ndash;once a final design is agreed, we will create proofs for you, and follow the steps for our off-the-peg stationery (as described on the <a href='/order'>how to order</a> page)
      %p Take a look at some of our favourite bespoke orders below: