---
title: Contact Us
---

.row
  .four.columns
    .hfont.main-color SOCIAL MEDIA
    .sub
      %a{:href => 'http://twitter.com/vintageinviteco'} Twitter
    .sub
      %a{:href => 'http://facebook.com/vintageinviteco'} Facebook
  .eight.columns
    %p.hfont
      Drop us an e-mail please
    %form
      %label Name
      %input{:type=>'text'}
      %label Email
      %input{:type=>'text'}

      