---
title: Contact Us
---

.row
  .contact
    .four.columns
      .sidebar
        %h6 EMAIL US
        %ul
          %li
            %i.icon-envelope-alt.icon-fixed-width
            %a{:href => 'mailto:hello@thevintageinvite.com'} hello@thevintageinvite.com
        %h6 FOLLOW US
        %ul
          %li
            %a{:href => 'http://twitter.com/vintageinvite'}
              %i.icon-twitter.icon-fixed-width
              vintageinvite
          %li
            %a{:href => 'http://facebook.com/vintageinviteco'} 
              %i.icon-facebook-sign.icon-fixed-width
              vintageinviteco
          %li
            %a{:href => 'http://www.pinterest.com/vintageinvite/'} 
              %i.icon-pinterest-sign.icon-fixed-width
              vintageinvite
        %h6 TALK TO US
        %ul
          %li
            %a{:href => 'skype:hello@thevintageinvite.com?call'}
              %i.icon-skype.icon-fixed-width
              hello@thevintageinvite.com
    .eight.columns
      .contact-form
        %h6 WE LOVE HEARING FROM YOU
        %p.hfont
          Fill in our form below, and we'll give you a call or drop you an e-mail tout suite!
        %form.custom
          %label.hfont Name*
          %input{:type=>'text'}
          %label.hfont Email
          %input{:type=>'text'}
          .row
            .six.columns
              %label.hfont Telephone
              %input{:type=>'text'}
            .six.columns
              %label.hfont Best Time to Call
              %select
                = ["---", "09:00 - 11:00", "11:00 - 13:00", "13:00 - 15:00", "15:00 - 17:00", "After 17:00"].each do |t|
                  %option= t
          %label.hfont Subject
          %input{:type=>'text'}
          %label.hfont Message*
          %textarea.hfont{:name => 'message', :rows => '5'}
          %input.button.hfont{:type => "submit", :value => "SEND"}
          