---
title: Frequently Asked Questions
layout: ordering
---
.faqs
  %h6 FREQUENTLY ASKED QUESTIONS
  .sub.italic Drop us a note if your question isn't here!
  .row
    .six.columns.mobile-four
      .faq
        .question Can I choose different colours?
        Of course. We will advise you on any complementary colours for your choice, and let you know if any colours might not make the transition from screen to print.
      .faq
        .question What about fonts?
        We think we're pretty good at getting the typography right for our invitations, but we also know that everyone is different, so we're happy to change our invitations to suit your choices. We will of course provide advice and guidance on whether we think a font will work in print. Significant changes to a design will incur an additional charge, to recognise the extra design time needed.
      .faq
        .question Will it look just like on my screen?
        Not necessarily. All computers and devices have slightly different ways of representing colour, so we advise you to order a sample of your chosen design (or a printed proof of a bespoke design) if you are unsure.
      .faq
        .question How do I order a sample?
        <a href='/bespoke'>Get in touch!</a> We charge a flat £10 fee for a sample pack (which includes a sample of both digital and letterpress print), which will be taken off your final bill should you choose to place an order.
    .six.columns.mobile-four
      .faq
        .question When and how do I pay for my order?
        We require a 50% deposit upfront, with the balance settled after proof approval. We prefer a BACS transfer, but can accept a cheque or (for an additional handling fee) credit cards.
      .faq
        .question How long before I receive my order?
        We will provide you with a digital proof within 3 days of your order (<a href='/bespoke'>bespoke</a> jobs follow a different workflow). Once you've approved the proof, you should receive your order within two weeks (10 working days). We will keep you informed every step of the way!
      .faq
        .question How do you deliver? How much do you charge?
        We use either Royal Mail Special Delivery or a next day courier service. A signature will be required. We don't charge for delivery.
      .faq
        .question Do you ship internationally?
        We can ship within the EU for an additional delivery charge. Please <a href='/contact'>contact us</a> if you're outside the EU.
      .faq
        .question Can I get a refund?
        Because of the bespoke nature of our stationery (each item is made especially for you), we can't offer a refund unless the stationery we provide is not fit-for-purpose (you need to immediately inform us if you believe this is the case!).
      

