---
title: Home
include_footer: true
orbit: home-orbit
---
.row
  .twelve.columns
    #home-orbit
      %img{src: '/assets/dom.jpg'}
      %img{src: '/assets/amy_ben.jpg'}
.row
  .twelve.columns
    .banner
      .row
        .ten.columns.mobile-three
          %span.banner-text.text-center
            %span.hide-for-small GRAND OPENING OFFER: 
            20% DISCOUNT!
        .two.columns.mobile-one.banner-button
          %a.button.radius{href: '/range'} 
            Range
            %i.icon-caret-right &nbsp;
.rangerow
  .row
    .six.columns
      .row
        .six.columns.mobile-two
          .circle.range.domesticbliss 
            %a{href: '/range/domesticbliss'}
              %img{src: '/assets/products/domesticbliss-invite-220.jpg'}
          %a{href: '/range/domesticbliss'}
            %h6.text-center DOMESTIC BLISS
          .sub.italic.text-center Menu Card&#58;Designed by Lab
        .six.columns.mobile-two
          .square.range.knitone
            %a{href: '/range/knitone'}
              %img{src: '/assets/products/knitone-invite-220.jpg'}
          %a{href: '/range/knitone'}
            %h6.text-center KNIT-ONE
          .sub.italic.text-center Menu Card&#58;Designed by Lab
    .six.columns
      .row
        .six.columns.mobile-two
          .circle.range.hera
            %a{href: '/range/delightfullydotty'}
              %img{src: '/assets/products/dotty-invite-220.jpg'}
          %a{href: '/range/delightfullydotty'}
            %h6.text-center DELIGHTFULLY DOTTY
          .sub.italic.text-center Menu Card&#58;Designed by Lab
        .six.columns.mobile-two
          .square.range.cherries
            %a{href: '/range/cherrybomb'}
              %img{src: '/assets/products/cherrybomb-invite-220.jpg'}
          %a{href: '/range/cherrybomb'}
            %h6.text-center CHERRY BOMB
          .sub.italic.text-center Menu Card&#58;Designed by Lab
