---
title: Home
---

.row
  .twelve.columns
    .cover
      %img{src: 'http://placehold.it/970x438'}
.row
  .twelve.columns
    .banner &nbsp;
.row
  .rangerow
    .six.columns
      .row
        .six.columns.mobile-two
          .circle.range.domesticbliss 
            %img{src: 'http://placehold.it/200x200'}
          %h6.text-center DOMESTIC BLISS
          .sub.italic.text-center Menu Card&#58;Designed by Lab
        .six.columns.mobile-two
          .square.range.knitone
            %img{src: 'http://placehold.it/200x200'}
          %h6.text-center KNIT-ONE
          .sub.italic.text-center Menu Card&#58;Designed by Lab
    .six.columns
      .row
        .six.columns.mobile-two
          .circle.range.hera
            %img{src: 'http://placehold.it/200x200'}
          %h6.text-center DELIGHTFULLY DOTTY
          .sub.italic.text-center Menu Card&#58;Designed by Lab
        .six.columns.mobile-two
          .square.range.cherries
            %img{src: 'http://placehold.it/200x200'}
          %h6.text-center CHERRY BOMB
          .sub.italic.text-center Menu Card&#58;Designed by Lab
.row
  .twelve.columns
    .pinking &nbsp;
    .footer &nbsp;