---
title: Home
include_footer: true
orbit: home-orbit
---
.row
  .twelve.columns
    #home-orbit
      %a{href: '/range/domesticbliss'}
        %img{src: '/assets/dom.jpg'}
      %img{src: '/assets/amy_ben.jpg'}
.row
  .twelve.columns
    .banner
      .row
        .ten.columns.mobile-three
          %span.banner-text.text-center
            %span.hide-for-small GRAND OPENING OFFER: 
            20% DISCOUNT!
        .two.columns.mobile-one.banner-button
          %a.button.radius{href: '/range'} 
            Range
            %i.icon-caret-right &nbsp;
.rangerow
  .row
    .three.columns.mobile-two.text-center
      %a{href: '/range/domesticbliss'}
        %img.circle{src: '/assets/products/domesticbliss-invite-220.jpg'}
      %a{href: '/range/domesticbliss'}
        %h6 DOMESTIC BLISS
      .sub.italic Menu Card&#58;Designed by Lab
    .three.columns.mobile-two.text-center
      %a{href: '/range/knitone'}
        %img{src: '/assets/products/knitone-invite-220.jpg'}
      %a{href: '/range/knitone'}
        %h6 KNIT-ONE
      .sub.italic Menu Card&#58;Designed by Lab
    .three.columns.mobile-two.text-center
      %a{href: '/range/delightfullydotty'}
        %img.circle{src: '/assets/products/dotty-invite-220.jpg'}
      %a{href: '/range/delightfullydotty'}
        %h6 DELIGHTFULLY DOTTY
      .sub.italic Menu Card&#58;Designed by Lab
    .three.columns.mobile-two.text-center
      %a{href: '/range/cherrybomb'}
        %img{src: '/assets/products/cherrybomb-invite-220.jpg'}
      %a{href: '/range/cherrybomb'}
        %h6 CHERRY BOMB
      .sub.italic Menu Card&#58;Designed by Lab
