---
title: Home
include_footer: true
orbit: home-orbit
---
.row
  .twelve.columns
    #home-orbit
      %a{href: '/range/domesticbliss'}
        %img{src: '/assets/dom.jpg'}
      %img{src: '/assets/amy_ben.jpg'}
      %img{src: '/assets/perfect-banner.jpg'}
.row
  .twelve.columns
    %hr.zig
.row
  .twelve.columns
    .banner.text-center
      LAUNCH DISCOUNT! Save 20% across our <a href='/range'>range</a> and on <a href='/bespoke'>bespoke</a> orders until September!
.row
  .twelve.columns
    %hr.zig
= render '_range'