---
title: Home
include_footer: true
orbit: home-orbit
---
.row
  .twelve.columns
    #home-orbit
      %img{src: '/assets/dom.jpg'}
      %img{src: '/assets/springtime.jpg'}
      %img{src: '/assets/amy_ben.jpg'}
      %img{src: '/assets/perfect-banner.jpg'}
.row
  .twelve.columns
    %hr.zig
.row
  .twelve.columns
    .banner.text-center
      LAUNCH DISCOUNT! Save 20% across our <a href='/range'>range</a> and on <a href='/bespoke'>bespoke</a> orders until September!
.row
  .twelve.columns
    %hr.zig
.row
  .twelve.columns
    .home-blurb
      %p Welcome! The Vintage Invite Company is proud to introduce its highly original, vintage-inspired collection of wedding stationery, all designed and created by our very own (and very clever) arty people.  Organising a wedding can be stressful enough, but luckily you’re in safe hands with us and you needn’t let your stationery cause you any sleepless nights. Brides (and grooms) need their beauty sleep, right?
      %p Cast your eager peepers over our off-the-peg ranges (<a href='/products'>here</a>) and if you see something you’ve just got to have, <a href='/contact'>drop us a line<a/>.  If not, that’s fine too, as we offer a fully <a href='/bespoke'>bespoke service</a> where we can put our creative heads together and design you something from scratch.
      %p All our lovely invitations are available with the matching bits and bobs you’d expect for a wedding (save the date cards, RSVPs, thank you cards, etc.) and as we make everything to order, feel free to choose a colour or font more suited to your particular nuptials.
      %p Any questions or just a quick hello can be sent to us <a href='/contact'>here</a>. Track us down on Twitter, Facebook, Pinterest or sign up for our emails, by following the links below.


