---
title: Home
---

.row
  .twelve.columns
    .cover
      %img{src: 'http://placehold.it/970x438'}
.row
  .twelve.columns
    .banner &nbsp;
.row
  .rangerow
    .three.columns
      .circle.range 
        %img{src: 'http://placehold.it/200x200'}
      %h4.text-center DOMESTIC BLISS
      .sub.text-center Menu Card&#58;Designed by Lab
    .three.columns
      .square.range 
        %img{src: 'http://placehold.it/200x200'}
      %h4.text-center DOMESTIC BLISS
      .sub.text-center Menu Card&#58;Designed by Lab
    .three.columns
      .circle.range 
        %img{src: 'http://placehold.it/200x200'}
      %h4.text-center DOMESTIC BLISS
      .sub.text-center Menu Card&#58;Designed by Lab
    .three.columns
      .square.range 
        %img{src: 'http://placehold.it/200x200'}
      %h4.text-center DOMESTIC BLISS
      .sub.text-center Menu Card&#58;Designed by Lab
.row
  .twelve.columns
    .pinking &nbsp;
    .footer &nbsp;