---
title: How to Order
---

.row
  .order
    .four.columns.mobile-four
      .sidebar
        %h6 CATEGORIES
        %ul
          %li 
            %a How to Order
          %li 
            %a FAQs
          %li 
            %a Cancellations/Returns
          %li 
            %a Terms &amp; Conditions
          %li 
            %a Price List 2014
    .eight.columns
      %h6 HOW TO ORDER
      .sub.italic A quick guide to how we work
      .row
        .four.columns.mobile-four
          %a{href: '/range/delightfullydotty'}
            %img{src: '/assets/products/dotty-invite-220.jpg'}
          %a{href: '/range/delightfullydotty'}
            %h6.text-center DELIGHTFULLY DOTTY
          %h6.sub.text-center Sit down with a nice cup of tea
        .four.columns.mobile-four
          %a{href: '/range/delightfullydotty'}
            %img{src: '/assets/products/dotty-invite-220.jpg'}
          %a{href: '/range/delightfullydotty'}
            %h6.text-center DELIGHTFULLY DOTTY
          %h6.sub.text-center Sit down with a nice cup of tea
        .four.columns.mobile-four
          %a{href: '/range/delightfullydotty'}
            %img{src: '/assets/products/dotty-invite-220.jpg'}
          %a{href: '/range/delightfullydotty'}
            %h6.text-center DELIGHTFULLY DOTTY
          %h6.sub.text-center Sit down with a nice cup of tea

