---
title: How to Order
layout: ordering
---
.how-to-order
  %h6 HOW TO ORDER
  .order-title Choose Your Design
  %p Have a virtual wander through our store, and find the design that fits your wedding&ndash;remember that we can customise the colour schemes and wording for you at no extra cost. If you are unsure at this stage, you can <a href='mailto:hello@thevintageinvite.com?subject=Sample Pack Request'>request a sample pack</a> (we charge £10 for a sample pack, but this is fully redeemable against any future order): be sure to let us know which designs you are interested in.
  .order-title Place Your Order
  %p 
    Once you've made your decision, <a href='/contact'>get in touch</a>. We will need to know:
    %ul
      %li Your choice of design
      %li Quantities of each item in the suite (if you just want a quote you can stop here!)
      %li Your names, dates, venue and any alternative wording you require
      %li Your colour preferences (if any)
      %li Any extras you might want us to look at (bunting, seating plans, etc.)
    We will create an invoice based on all of these details and send it to you for review. Once you are happy we require a 50% non-refundable deposit to continue with your order.
  .order-title Proofs and Review
  %p Within 3 working days of receiving your deposit (unless you have significant customisations), you will receive your first digital proof. This is a digital representation of what will be printed, so it is important that you check it thoroughly and notify us of any required amendments (we include two extra digital proofs based on your amendments in the cost of your stationery order). Once you're happy with your proof, you let us know (sign it off) and we will start the printing process.
  .order-title Delivery
  %p Barring any special processes, you should receive your stationery within two weeks (ten working days). We will stay in touch throughout and let you know when you should expect it to arrive. It will require a signature, so do let us know if you'd like it delivered to a work address or family member.
  %p If you have any other questions on the ordering process, <a href='/contact'>get in touch</a>.