---
title: How to Order
---

.row
  .order
    .three.columns.mobile-four
      .sidebar
        %h6 CATEGORIES
        %ul
          %li 
            %a How to Order
          %li 
            %a FAQs
          %li 
            %a Cancellations/Returns
          %li 
            %a Terms &amp; Conditions
          %li 
            %a Price List 2014
    .nine.columns
      .how-to-order
        %h6 HOW TO ORDER
        .sub.italic A quick guide to how we work
        .row
          .four.columns.mobile-four
            %a{href: '/range/delightfullydotty'}
              %img{src: '/assets/products/dotty-invite-220.jpg'}
            %a{href: '/range/delightfullydotty'}
              %h6 CALL US
            .sub.italic Get on the dog &amp; bone
          .four.columns.mobile-four
            %a{href: '/range/delightfullydotty'}
              %img{src: '/assets/products/dotty-invite-220.jpg'}
            %a{href: '/range/delightfullydotty'}
              %h6 E-MAIL US
            .sub.italic Clackety clack&ndash;we'll talk back!
          .four.columns.mobile-four
            %a{href: '/range/delightfullydotty'}
              %img{src: '/assets/products/dotty-invite-220.jpg'}
            %a{href: '/range/delightfullydotty'}
              %h6 MEET US
            .sub.italic Come see us in London!
        %hr.zig
        %ol
          %li Browse the site and be inspired&ndash;Bacon ipsum dolor sit amet dolore occaecat cupidatat meatball, bresaola strip steak sed cow brisket pork belly. 
          %li T-bone irure nisi cillum landjaeger in culpa meatball anim ea frankfurter fugiat chicken dolore. Boudin pig landjaeger, meatball turducken magna hamburger pastrami nisi do biltong. 
          %li Dolore kielbasa ham hock fatback in jerky proident nostrud adipisicing corned beef venison ut tenderloin.
          %img{src: '/assets/bespoke-cover.jpg'}
          %li T-bone irure nisi cillum landjaeger in culpa meatball anim ea frankfurter fugiat chicken dolore. Boudin pig landjaeger, meatball turducken magna hamburger pastrami nisi do biltong. 
          %li Dolore kielbasa ham hock fatback in jerky proident nostrud adipisicing corned beef venison ut tenderloin.