---
title: Terms and Conditions
layout: ordering
---
.terms
  %h6 TERMS &amp; CONDITIONS
  .sub.italic The fine print for our fine print
  .row
    .twelve.columns
      %ul
        %li First things first: this website is run by The Vintage Invite Company Limited; registered at 24 Melbourne Road, HP13 7HD. Our registration number is 8816631.
        %li By placing an order with us, you are agreeing to be bound by these terms and conditions, so <b>please read carefully!</b>. We reserve the right to change these conditions at any time, but we include a copy with your invoice and those are the terms that apply to your order.
        %li Even if you don't place an order: all photographs, digital imagery and designs are copyright The Vintage Invite Company, unless otherwise stated. You may not commercially exploit or create derivative products from them, but we do love being shared through social media! Please link to us or mention our name when sharing images!
        %li Our prices are subject to change. The price for any order is set on the day you order, and will be confirmed via e-mail in your invoice. Please raise any pricing queries before paying your deposit. All of our prices are in Great British Pounds (GBP).
        %li The final, printed product may vary slightly from the photographs and renderings shown. The colours may not be accurately represented digitally (discussed in the <a href='/faqs'>frequently asked questions</a>), and because our stationery is hand-finished, and because of the nature of the printing techniques we use, slight variations are expected (and desired!). A sample will more accurately represent your chosen design.
        %li If you request a sample pack, you will receive at least three samples: demonstrating different printing processes and designs (including your chosen design(s)). There is a £10 charge for a sample pack, which is fully redeemable against a future stationery order.
        %li After your order we will provide a digital proof of your personalised design, with all the details you have provided. If there are any mistakes or corrections, we create an amended proof for you; we include two amended proofs in the price of your order. Any further amendments will incur a £25 charge to reflect the design time required.
        %li Refunds or exchanges are subject to our discretion; and will only be provided for stationery that is not fit for purpose (or that differ from our final, agreed proof. Because everything we do is customised for you, we can't reuse or resell it.
        %li All orders will be sent via Royal Mail Special Delivery or courier, and will require a signature upon arrival. You <b>must</b> refuse and return any package which has sustained damage, so that we can make a claim for damage with the courier. We package our stationery very carefully, but if you do find any damaged items when you receive them, you must notify us immediately. We cannot be held responsible for any damage that occurs after you have received your items (or sent them to your guests).
        %li We cannot be held liable for any costs greater than the cost of our goods.
        %li We don't share your details. Occasionally we may recommend the services of an affiliate, but we will never share your details without your consent.
  
