@import "settings";

.banner {
  min-height: 50px;
  border: 0;
  margin: 8px 0 8px 0;
  width: 100%;
  background: $vicLogoSecondaryColor;
  color: #fff;
  blockquote {
    padding: 7px;
    border-left: 0;
    margin: 0;
    font-size: 36px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #fff;
    &:before {
      position: absolute;
      top: 0;
      left: 0.5em;
      content: open-quote;
      font-size: 71px;
    }
    p {
      padding-left: 1.2em;
      font-size: inherit;
      color: inherit;
      margin: 0;
    }
    cite {
      float: right;
      color: inherit;
    }
  }
}

.cover {
  padding: 8px 0;
}

.italic {
  font-style: italic;
}

.top-colour {
  height: 13px;
  position: absolute;
  width: 100%;
  border: 0px;
  background: $vicLogoSecondaryColor;
}

.circle {
  border-radius: 50%;
}

.square {
}

.footer {
  background: $vicLogoSecondaryColor;
  padding: 4px 8px;
  margin-top: 0;
  min-height: 100px;
  p {
    color: $white;
    line-height: 1.3;
  }
}

.pinking, .pinkinggrey {
  height: 4px;
  border: 0;
  width: 100%;
  padding: 0;
}

.pinking {
  margin: 20px 0 0 0;
  background: url(/assets/pinking.png) repeat-x;
}

.pinkinggrey {
  margin: 20px 0 0 0;
  background: url(/assets/pinkinggrey.png) repeat-x;
}

.greyblock {
  background: #e7e7e5;
  padding: 16px;
  margin-top: 0;
  min-height: 100px;
}

.range {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  img {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.domesticbliss {
  background: url(/assets/domesticblissmain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.cherries {
  background: url(/assets/cherrybombmain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.knitone {
  background: url(/assets/knitonemain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hera {
  background: url(/assets/heramain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.rangerow, .product, .range-page {
  margin: 12px 0;
  display: block;
  h6 {
    margin: 9px 0 6px 0;
  }
  h5 {

  }
}

h6.socialmedia {
  margin-top: 0;
}

.socialmedia {
  display: block;
  padding: 0 0 6px 0;
}

.range-page {
  .sub {
    font-family: $headerFontFamily;
  }
}

.product {
  .sub {
    margin-bottom: 6px;
  }
}
.sub {
  font-family: $subFontFamily;
  font-weight: $subFontWeight;
  color: $subFontColor;
  margin-bottom: 6px;
}

.logo {
  padding: 36px 0 0 0;
  a img {
    max-height: 200px;
    @media screen and (min-width: $screenSmall) { max-width: 200px;}
  }
  margin-bottom: 18px;
}

.header {
  font-family: $mainHeadingFontFamily;
  font-weight: $mainHeadingFontWeight;
  letter-spacing: 2px;
}

.hfont {
  font-family: $headerFontFamily;
}

.main-color {
  color: $vicLogoMainColor;
}

#vic-topbar { 
  margin: 0;
  width: 100%;
  .navigation {
    margin: 0; 
    padding: 0; //10px 0 8px 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
  ul { 
    list-style: none; 
    li { 
      display: inline-block;    
      margin: 0 0px; padding: 0 27px;
      @media screen and (max-width: $screenSmall - 1) {
        display: block;
        width: 100% !important;
        padding: 5px 0;
      }
    
      a { color: $vicLogoMainColor; }
      &:hover, &.active, &:focus {
        a, & { color: $vicLogoSecondaryColor; }
      }
    }
  }
}

hr.zig {
  background: url(/assets/zig.png) repeat-x;
  height: 5px;
  border: 0px;
  margin: 6px 0 6px 0;
}

.nopad {
  padding: 0px !important;
}

.button {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.paddy {
  display: block;
  width: 100%;
  padding: 7px 0;
}

.productrange {
  margin-top: 6px;
}
