@import "settings";

.banner {
  height: 50px;
  border: 0;
  margin: 8px 0 8px 0;
  width: 100%;
  background: $vicLogoSecondaryColor;
  display: block;
  .banner-text {
    color: #fff;
    font-weight: bold;  
    padding: 6px 12px 6px 16px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
  }
  .banner-button {
    .button {
      font-size: 16px;
      color: #fff;
      padding: 6px 16px;
    }
    padding: 6px;
    display: inline;
    vertical-align: middle;
  }
}

.subtitle {
  width: 100%;
  display: block;
  h6 {
    margin: 2px 0;
    letter-spacing: 2px;
    color: lighten($vicLogoMainColor, 25%);
  }
}
.cover {
  padding: 8px 0;
}

.italic {
  font-style: italic;
}

.top-colour {
  height: 13px;
  position: absolute;
  width: 100%;
  border: 0px;
  background: $vicLogoSecondaryColor;
}

.circle {
  border-radius: 50%;
}

.square {
}

.footer {
  background: $vicLogoSecondaryColor;
  padding: 4px 8px;
  margin-top: 0;
  min-height: 100px;
  //column-count: 2;
   // -moz-column-count: 2;
   // -webkit-column-count: 2;
   // column-gap: 10px;
   // -moz-column-gap: 10px;
   // -webkit-column-gap: 10px;
  p {
    color: $white;
    line-height: 1.3;
  }
}

.pinking, .pinkinggrey {
  height: 4px;
  border: 0;
  width: 100%;
  padding: 0;
}

.pinking {
  margin: 20px 0 0 0;
  background: url(/assets/pinking.png) repeat-x;
}

.pinkinggrey {
  margin: 20px 0 0 0;
  background: url(/assets/pinkinggrey.png) repeat-x;
}

.greyblock {
  background: #e7e7e5;
  padding: 16px;
  margin-top: 0;
  min-height: 100px;
}

.range {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  img {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.domesticbliss {
  background: url(/assets/domesticblissmain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.cherries {
  background: url(/assets/cherrybombmain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.knitone {
  background: url(/assets/knitonemain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hera {
  background: url(/assets/heramain220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.rangerow, .product, .range-page {
  margin: 12px 0;
  display: block;
  h6 {
    margin: 9px 0 6px 0;
  }
  h5 {

  }
}

h6.socialmedia {
  margin-top: 0;
}

.socialmedia {
  display: block;
  padding: 0 0 6px 0;
}

.range-page {
  .sub {
    font-family: $headerFontFamily;
  }
}

.product {
  .sub {
    margin-bottom: 6px;
  }
}
.sub {
  font-family: $subFontFamily;
  font-weight: $subFontWeight;
  color: $subFontColor;
  margin-bottom: 6px;
}

.logo {
  padding: 36px 0 0 0;
  a img {
    max-height: 200px;
    @media screen and (min-width: $screenSmall) { max-width: 200px;}
  }
  margin-bottom: 8px;
}

.header {
  font-family: $mainHeadingFontFamily;
  font-weight: $mainHeadingFontWeight;
  letter-spacing: 2px;
}

.hfont {
  font-family: $headerFontFamily;
}

.main-color {
  color: $vicLogoMainColor;
}

#vic-topbar { 
  margin: 0;
  width: 100%;
  .navigation {
    margin: 0; 
    padding: 0; //10px 0 8px 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
  ul { 
    list-style: none; 
    li { 
      display: inline-block;    
      margin: 0 0px; padding: 0 27px;
      @media screen and (max-width: $screenSmall - 1) {
        display: block;
        width: 100% !important;
        padding: 5px 0;
      }
    
      a { color: $vicLogoMainColor; }
      &:hover, &.active, &:focus {
        a, & { color: $vicLogoSecondaryColor; }
      }
    }
  }
}

hr.zig {
  background: url(/assets/zig.png) repeat-x;
  height: 5px;
  border: 0px;
  margin: 6px 0 6px 0;
}

.nopad {
  padding: 0px !important;
}

.button {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.paddy {
  display: block;
  width: 100%;
  padding: 7px 0;
}

.productrange {
  margin-top: 6px;
}
