@import "settings";
@import "mixins";

.banner {
  min-height: 40px;
  border: 0;
  margin: 2px 0 2px 0;
  width: 100%;
  background: $vicLogoSecondaryColor;
  color: #fff;
  padding: 10px 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  letter-spacing: 0.75px;
  a, a:visited {
    color: #fff;
    font-weight: bold;
    &:hover, &:active {
      color: $vicLogoMainColor;
    }
  }
}

.media-icon {
  width: 23px;
}
.product-large {
  @media only screen and (max-width: $screenSmall) {
    text-align: center;
  }
  .orbit-slide {
    width: 100%;
  }
}

.subtitle {
  width: 100%;
  display: block;
  h6 {
    margin: 2px 0;
    letter-spacing: 2px;
    color: lighten($vicLogoMainColor, 25%);
  }
}
.cover {
  padding: 8px 0;
}

.italic {
  font-style: italic;
}

.circle {
  border-radius: 50%;
}

.square {
}

.pinking {
  @include pinking-base;
  margin: 20px 0 0 0;
  background: url(/assets/pinking.png) repeat-x;
}

.pinkinggrey {
  @include pinking-base;
  margin: 20px 0 0 0;
  background: url(/assets/pinkinggrey.png) repeat-x;
}

.pinking-twotone {
  @include pinking-base;
  margin: 14px 0 0 0;
  background: url(/assets/pinking-twotone.png) repeat-x;
}

.range {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  img {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.domesticbliss {
  background: url(/assets/products/domesticbliss-invite-220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.cherries {
  background: url(/assets/products/cherrybomb-invite-220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.knitone {
  background: url(/assets/products/knitone-invite-220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hera {
  background: url(/assets/products/dotty-invite-220.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.rangerow, .product, .range-page {
  margin: 12px 0;
  display: block;
  h6 {
    margin: 9px 0 6px 0;
  }
  h5 {

  }
}

::-webkit-resizer {
  //border: 2px solid black;
  //background: ;
  //outline: 2px solid yellow;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid $vicLogoSecondaryColor; 
  border-right: 15px solid $vicLogoSecondaryColor; 
  border-left:15px solid transparent; 
}

.contact, .about, .order {
  padding-top: 12px;
  h6 {
    letter-spacing: 1.0px;
    margin-top: 0;
  }
  .sidebar, .contact-form {
    padding: 12px 0 0 0;
  }
  .how-to-order {
    h6 {
      margin: 6px 0 7px 0;
    }
    .sub {
      margin-bottom: 20px;
    }
    ol {
      li {
        margin: 18px 0 0 0;
      }
    }
  }
  .sidebar {
    min-height: 480px;
    padding-left: 12px;
    background: $vicPalePink;
    ul {
      list-style: none;
    }
    .contact-item {
      display: block;
      padding: 0 0 6px 0;  
    }
  }
}

.order {
  .sidebar, .how-to-order {
    padding-top: 12px;
  }

  .sidebar {
    padding-left: 12px;
  }
}

.panel {
  background: $vicPalePink;
  border: none;
  h6 {
    letter-spacing: 1.0px;
    margin-top: 0;
    a {
      font-weight: bold;
      color: $vicLogoMainColor;
      &:hover, &:active, &:visited {
        color: lighten($vicLogoMainColor, 5%);
      }
    }
  }
}

.range-page {
  .sub {
    font-family: $headerFontFamily;
  }
}

.product {
  .sub {
    margin-bottom: 6px;
  }
}
.sub {
  font-family: $subFontFamily;
  font-weight: $subFontWeight;
  color: $subFontColor;
  margin-bottom: 6px;
}

.logo {
  padding: 24px 0 12px 0;
  a img {
    max-height: 200px;
    @media screen and (min-width: $screenSmall) { max-width: 200px;}
  }
  margin-bottom: 8px;
}

.header {
  font-family: $mainHeadingFontFamily;
  font-weight: $mainHeadingFontWeight;
  letter-spacing: 2px;
}

.hfont {
  font-family: $headerFontFamily;
}

.main-color {
  color: $vicLogoMainColor;
}



hr.zig {
  background: url(/assets/zig.png) repeat-x;
  height: 5px;
  border: 0px;
  margin: 6px 0 6px 0;
}

.nopad {
  padding: 0px !important;
}

.button {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.paddy {
  display: block;
  width: 100%;
  padding: 7px 0;
}

.productrange {
  margin-top: 6px;
}
