@import "settings";
@import "mixins";

.product-title {
  background: $productTitleColor;
  height: 60px;
  h6, .sub {
    color: $white;
    margin: 0;
  }
  .sub {
    padding-top: 6px;
  }
  padding: 12px 14px;
  margin-bottom: 12px;

  &:after
  {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    top: -9.5px;
    right: 10px;
    border-right: 30px solid white;    
    border-left: 30px solid transparent;
  }
}

.pinking-darkgrey {
  @include pinking-base;
  margin: 14px 0 0 0;
  background: url(/assets/pinking-darkgrey.png) repeat-x; 
}

.darkgrey-header {
  background: $vicGreyHeader;
  padding: 16px;
  margin-top: 0;
  h6 {
    color: $vicDarkGrey;
    margin: 0;
  }
}

.greyblock {
  background: $vicGreyBody;
  padding: 16px;
  margin-top: 0;
  min-height: 100px;
  h6 {
    color: $vicDarkGrey;
    margin: 0 0 16px;
  }
  p {
    color: $vicDarkGrey;
  }
}
