.latest
  .row
    .twelve.columns
      .spantitle
        %h6 LATEST ADDITIONS
  .row
    .three.columns.mobile-two.text-center
      %a{href: '/range/domesticbliss'}
        %img{src: '/assets/products/domesticbliss-invite-220.jpg'}
      %a{href: '/range/domesticbliss'}
        %h6 DOMESTIC BLISS
      .sub.italic 1950's commercial vintage
    .three.columns.mobile-two.text-center
      %a{href: '/range/knitone'}
        %img{src: '/assets/products/knitone-invite-220.jpg'}
      %a{href: '/range/knitone'}
        %h6 KNIT-ONE
      .sub.italic For the craft-loving couple
    .three.columns.mobile-two.text-center
      %a{href: '/range/delightfullydotty'}
        %img{src: '/assets/products/dotty-invite-220.jpg'}
      %a{href: '/range/delightfullydotty'}
        %h6 DELIGHTFULLY DOTTY
      .sub.italic Simple, clean, timeless
    .three.columns.mobile-two.text-center
      %a{href: '/range/cherrybomb'}
        %img{src: '/assets/products/cherrybomb-invite-220.jpg'}
      %a{href: '/range/cherrybomb'}
        %h6 CHERRY BOMB
      .sub.italic The cherry on top!
