!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      The Vintage Invite Company -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.css" }
    %script{:src => "/assets/modernizr.foundation.js" }
  %body
    .row
      .vic-topbar
        .four.columns
          %a{:href => "/"}
            %img{:src => "/assets/logo.svg", :title => "The Vintage Invite Company"}
        .eight.columns
          %ul.right
            %li
              %a{:href => "/blog/"} Blog
            %li
              %a{:href => "#"} Contact
    .row
      .twelve.columns
        = yield

    %script{:src => "/assets/app.js" }
