!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      A Brand new nanoc site -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.css" }
    %script{:src => "/assets/modernizr.foundation.js" }
  %body
    .contain-to-grid
      %nav.top-bar
        %ul
          %li.name
            %a{:href => "/"} the vintage invite co
          %li.toggle-topbar
            %a{:href => "#"}
        %section
          %ul.left
            %li
              %a{:href => "#"} Hello
          %ul.right
            %li
              %a{:href => "#"} Contact
    .row
      .twelve.columns
        = yield

    %script{:src => "/assets/app.js" }
