= render 'default' do
  .product
    .row
      .six.columns
        %img{:src => 'http://placehold.it/480x550/9ad5c4'}
      .six.columns
        %h6= item[:product_title]
        .sub.italic= item[:product_blurb]
        .paddy &nbsp;
        = yield
  .productrange
    .row
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center SAVE THE DATE
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center RSVP
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center MAIN INVITATION
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center PLACE SETTINGS
  .row
    .twelve.columns
      .pinkinggrey &nbsp;
      .greyblock 
        %p HOW TO ORDER YOUR STATIONERY
        %p 
          Sit down with a nice cup of tea and design by lab. Get in touch. 
          I am want to answer any questions you may have, from how to flibble your gibbets to when you should send out your SOS.
        %p 
          Once you have pictured yourself on a boat by a river, and found a girl with an email of colin@hello.com, you will then receive your invoice for reviewing a product and a 50% non-refundable deposit is spent.

