= render 'default' do
  .product
    .row
      .six.columns
        %img{:src => 'http://placehold.it/480x550/9ad5c4'}
      .six.columns
        %h6= item[:product_title]
        .sub.italic= item[:product_blurb]
        .paddy &nbsp;
        = yield
  .productrange
    .row
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center SAVE THE DATE
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center RSVP
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center MAIN INVITATION
      .three.columns
        %img{:src => 'http://placehold.it/220x220/e966a6/fff'}
        %h6.text-center PLACE SETTINGS
  .row
    .twelve.columns
      .pinkinggrey &nbsp;
      .greyblock &nbsp;

